<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/baseLayout}">
<body>
<th:block layout:fragment="content">

    <div class="container theme-showcase" role="main">

        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Application Section</th>
                <th scope="col">Started editing</th>
                <th scope="col">Ready for submission</th>

            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    <a class="btn btn-outline-secondary"
                       th:href="@{'/application/' + ${applicationNumber}+'/applicant/1'}" role="button">
                        First Applicant
                    </a>
                </td>

                <td>

                </td>
                <td>

                </td>
            </tr>

            <tr>
                <td>
                    <a class="btn btn-outline-secondary"
                       th:href="@{'/application/' + ${applicationNumber}+'/applicant/2'}" role="button">
                        Second Applicant
                    </a>
                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-outline-secondary"
                       th:href="@{'/application/' + ${applicationNumber}+'/household'}" role="button">
                        Household Information
                    </a>
                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-outline-secondary" th:href="@{'/application/' + ${applicationNumber}+'/realEstateProperty'}"
                       role="button">
                        Real Estate Property
                    </a>
                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-outline-secondary" th:href="@{'/application/' + ${applicationNumber}+'/financing'}" role="button">Financing</a><br/>
                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            </tbody>

            <tfoot></tfoot>
        </table>
        <table>

        </table>
        <br/>







    </div>
</th:block>
</body>
</html>