<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Big Pug Loans</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Big Pug Loans</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container theme-showcase" role="main">

    <div class="page-header">
        <h4>Application Number: <span th:text="${applicationNumber}"/></h4>
    </div>

    <form action="#" th:action="@{/application/__${applicationNumber}__/applicant/__${applicantNumber}__}" th:object="${applicant}" method="POST">
        <input type="hidden" id="databaseId" th:field="*{databaseId}"/>
        <input type="hidden" id="applicationNumber" th:field="*{applicationNumber}"/>
        <input type="hidden" id="applicantNumber" th:field="*{applicantNumber}"/>
        <h2>Applicant <span th:text="${applicantNumber}"/></h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="customerNumber">Customer Number at Big Pug Bank</label>
                    <input class="form-control" id="customerNumber" type="text" th:field="*{customerNumber}"/>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input class="form-control" id="firstName" type="text" th:field="*{firstName}"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" id="lastName" type="text" th:field="*{lastName}"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="street">Street</label>
                    <input class="form-control" id="street" type="text" th:field="*{address.street}"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="postCode">Postcode</label>
                    <input class="form-control" id="postCode" type="number" th:field="*{address.postCode}"/>
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <label for="city">City</label>
                    <input class="form-control" id="city" type="text" th:field="*{address.city}"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="martialStatus">Martial Status</label>

                    <select id="martialStatus" class="form-control"  th:field="*{martialStatus}">
                        <option value=""></option>
                        <option th:each="martialStatus : ${T(com.mploed.dddwithspring.creditsalesfunnel.model.applicant.MartialStatus).values()}"
                                th:value="${martialStatus}"
                                th:text="${martialStatus.displayName}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="birthday">Birthday (Format: dd.mm.yyyy)</label>
                    <input class="form-control" id="birthday" type="date" th:field="*{birthday}"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="business">Business</label>

                    <select id="business" class="form-control"  th:field="*{business}">
                        <option value=""></option>
                        <option th:each="business : ${T(com.mploed.dddwithspring.creditsalesfunnel.model.applicant.Business).values()}"
                                th:value="${business}"
                                th:text="${business.displayName}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="employment">Employment</label>

                    <select id="employment" class="form-control" th:field="*{employment}">
                        <option value=""></option>
                        <option th:each="employment : ${T(com.mploed.dddwithspring.creditsalesfunnel.model.applicant.Employment).values()}"
                                th:value="${employment}"
                                th:text="${employment.displayName}">
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="employer">Employer</label>
                    <input class="form-control" id="employer" type="text" th:field="*{employer}"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="employedSince">Employed Since (Format: dd.mm.yyyy)</label>
                    <input class="form-control" id="employedSince" type="date" th:field="*{employedSince}"/>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Proceed</button>

    </form>
</div>
</body>
</html>