<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Big Pug Loans</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <img class="img-responsive" src="/BigPugLoans.jpg"/>
    </div>
</div>
<div class="container theme-showcase" role="main">
    <div class="page-header">
        <h4>Application Number: <span th:text="${applicationNumber}"/></h4>
    </div>


    <a class="btn btn-primary" th:href="@{'/application/' + ${applicationNumber}+'/applicant/1'}" role="button">Applicant 1</a><br/>

    <a class="btn btn-primary" th:href="@{'/application/' + ${applicationNumber}+'/applicant/2'}" role="button">Applicant 2</a><br/>

    <a class="btn btn-primary" th:href="@{'/application/' + ${applicationNumber}+'/household'}" role="button">Household Information</a><br/>

    <a class="btn btn-primary" th:href="@{'/application/' + ${applicationNumber}+'/realEstateProperty'}" role="button">Real Estate Property</a><br/>

    <a class="btn btn-primary" th:href="@{'/application/' + ${applicationNumber}+'/financing'}" role="button">Financing</a><br/>



</div>
</body>
</html>