<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/baseIndex}">
<body>
<th:block layout:fragment="content">


    <div class="container">
        <img class="img-fluid" src="/BigPugLoans.jpg"/>
        <form action="#" method="POST">
            <h2>Get your big fat pug loan here</h2>


            <button type="submit" class="btn btn-primary btn-lg">Yes, I want to apply -></button>
        </form>


    </div>
    <hr/>
    <div class="container">
        <p>
            <a href="http://localhost:9001/" class="btn btn-warning btn-sm" target="_new">Launch Scoring Activity Monitor</a>
        </p>
    </div>

</th:block>
</body>
</html>