<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Big Loan Pugs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <img class="img-responsive" src="/BigPugLoans.jpg"/>
    </div>
</div>
<div class="container">
    <h1>Application Status</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Application Number</th>
            <th>Number Generated</th>
            <th>Credit Application Sent</th>
            <th>Customer Created</th>
            <th>Scoring Date</th>
            <th>Scoring Result</th>
            <th>Approved</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="status : ${statusList}">
            <td th:text="${status.applicationNumber}"/>
            <td th:text="${status.applicationStart}"/>
            <td th:text="${status.creditApplicationEntered}"/>
            <td th:text="${status.customerEntered}"/>
            <td th:text="${status.scoringDoneDate}"/>
            <td th:text="${status.scoringResult}"/>
            <td th:text="${status.approved}"/>

        </tr>

        </tbody>
    </table>
</div>

</body>
</html>